# fly.toml app configuration file generated for goychat on 2026-02-22

app = "goychat"
primary_region = "lax"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
  [http_service.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"

[[vm]]
  size = "shared-cpu-1x"

[[mounts]]
  source = "goychat_data"
  destination = "/data"

[env]
  DATABASE_URL = "/data/void.db"
  NODE_ENV = "production"
